@font-face {
  font-display: swap;
  font-style: normal;
  src: url("/public/fonts/ManropeExtraBold.ttf");
  font-family: "Manrope";
  font-weight: 800;
}
@font-face {
  font-display: swap;
  font-style: normal;
  src: url("/public/fonts/MontserratRomanExtraBold.ttf");
  font-family: "Montserrat";
  font-weight: 800;
}
@font-face {
  font-display: swap;
  font-style: normal;
  src: url("/public/fonts/MontserratRomanMedium.ttf");
  font-family: "Montserrat";
  font-weight: 500;
}
@font-face {
  font-display: swap;
  font-style: normal;
  src: url("/public/fonts/ManropeBold.ttf");
  font-family: "Manrope";
  font-weight: 700;
}
@font-face {
  font-display: swap;
  font-style: normal;
  src: url("/public/fonts/MontserratRomanBold.ttf");
  font-family: "Montserrat";
  font-weight: 700;
}
